*{
    margin: 0;
    padding: 0;
    margin: auto;
    font-family: 'DM Sans', sans-serif;
}
.section_1{
    width: 32em;
    height: 35em;
}
.margin_sec_1{
    width: 32em;
    height: 30em;
    box-sizing: border-box;
    padding: 2.5em 3em 0em 3em;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
.cuadro_text1{
    width: 26em;
    height: 23em;

    display: flex;
    flex-direction: column;
    text-align: center;
}
.logo span{
    font-size: 2.3em;
    color: #F7931A ;
}
.margin_sec_1 h1{
    font-size: 2.4em;
    color: white
}
.margin_sec_1 p{
    font-size: 1.3em;
    color: #BABABA;
}
.botón_conoce{
    width: 22em;
    height: 4.5em;
    background-color: #FAF8F7;
    margin-top: 1.8em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 8px;
    box-shadow: 0px 14px 22px 0px rgba(142,142,142,0.45);
-webkit-box-shadow: 0px 14px 22px 0px rgba(142,142,142,0.45);
-moz-box-shadow: 0px 14px 22px 0px rgba(142,142,142,0.45);
}
.botón_conoce .text_botón_conoce{
    font-size: 1.3em;
    margin-right: 0em;
    text-decoration: none;
    color: #201E1C;
}
.flecha_1{
    width: 2.5em;
    margin-right: 1.5em;
    margin-left: 1.3em;
}
/*------------section_2----------*/
.section_2{
    width: 32em;
    height: 60em;
    box-sizing: border-box;
}
.img_text_sec_2{
    width: 26em;
    height: 30em;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.img_section_2{
    width: 15em;
    height: 15em;
}
.h1_section_2{
    font-size: 2.4em;
    color:  #282623;
}
.text_section_2{
    font-size: 1.3em;
    color: #BABABA;
}

/*------------section_3----------*/
.section_3{
    width: 32em;
    height: 80em;
    background-color: #201E1C;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:  5em 2em 5em 2em;
    box-sizing: border-box;
}
.h1_section_3{
    font-size: 2.4em;
    text-align: center;
    color: white;
}
.p_section_3{
    font-size: 1.3em;
    text-align: center;
    margin:  1em 0em 2em 0em;
    color: #BABABA;
}
.cajas{
    width: 28em;
    height: 12.5em;
    background-color: #282623;
    text-align:left;
    padding:  1.5em 2.5em;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: -1px 2px 23px -2px rgba(0,0,0,0.45);
    -webkit-box-shadow: -1px 2px 23px -2px rgba(0,0,0,0.45);
    -moz-box-shadow: -1px 2px 23px -2px rgba(0,0,0,0.45);
}
.sub_cajas{
    margin: 0em 0em 0.2em 0em;
    color: #fff;
}
.text_cajas{
    font-size:  1.3em;
    color: #BABABA;
}
.img_cajas{
    width: 1.8em;
}

/*------------section_3----------*/
.section_4{
    width: 32em;
    height: 38em;
    background-image: url(../img/bitcoinbaby%201.png);
    background-size: cover;
    padding-top: 2em;
    box-sizing: border-box;
}
.text_section_4{
    text-align: center;
    font-size: 2.4em;
    color: white;
}