*{
    margin: 0;
    padding: 0;
    margin: auto;
    font-family: 'DM Sans', sans-serif;
}
body{
    font-size: 10px;
}
.section_1{
    width: 3.2rem;
    height: 3.5rem;
}
.margin_sec_1{
    width: 3.2rem;
    height: 3.0rem;
    box-sizing: border-box;
    padding: 0.25rem 0.3rem 0em 0.3rem;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
.cuadro_text1{
    width: 2.6rem;
    height: 2.3rem;

    display: flex;
    flex-direction: column;
    text-align: center;
}
.logo span{
    font-size: 0.23rem;
    color: #F7931A ;
}
.margin_sec_1 h1{
    font-size: 0.24rem;
    color: white
}
.margin_sec_1 p{
    font-size: 0.13rem;
    color: #BABABA;
}
.botón_conoce{
    width: 2.2rem;
    height: 0.45rem;
    background-color: #FAF8F7;
    margin-top: 0.18rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-radius: 8px;
    box-shadow: 0px 14px 22px 0px rgba(142,142,142,0.45);
-webkit-box-shadow: 0px 14px 22px 0px rgba(142,142,142,0.45);
-moz-box-shadow: 0px 14px 22px 0px rgba(142,142,142,0.45);
}
.botón_conoce .text_botón_conoce{
    font-size: 0.13rem;
    margin-right: 0em;
    text-decoration: none;
    color: #201E1C;
}
.flecha_1{
    width: 0.25rem;
    margin-right: 0.15rem;
    margin-left: 0.13rem;
}
/*------------section_2----------*/
.section_2{
    width: 3.2rem;
    height: 6.0rem;
    box-sizing: border-box;
}
.img_text_sec_2{
    width: 2.6rem;
    height: 3.0rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.img_section_2{
    width: 1.5rem;
    height: 1.5rem;
}
.h1_section_2{
    font-size: 0.24rem;
    color:  #282623;
}
.text_section_2{
    font-size: 0.13rem;
    color: #BABABA;
}

/*------------section_3----------*/
.section_3{
    width: 3.2rem;
    height: 8.0rem;
    background-color: #201E1C;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding:  0.5rem 0.2rem 0.5rem 0.2rem;
    box-sizing: border-box;
}
.h1_section_3{
    font-size: 0.24rem;
    text-align: center;
    color: white;
}
.p_section_3{
    font-size: 0.13rem;
    text-align: center;
    margin:  0.1rem 0rem 0.2rem 0rem;
    color: #BABABA;
}
.cajas{
    width: 2.8rem;
    height: 1.25rem;
    background-color: #282623;
    text-align:left;
    padding:  0.15rem 0.25rem;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: -1px 2px 23px -2px rgba(0,0,0,0.45);
    -webkit-box-shadow: -1px 2px 23px -2px rgba(0,0,0,0.45);
    -moz-box-shadow: -1px 2px 23px -2px rgba(0,0,0,0.45);
}
.sub_cajas{
    margin: 0rem 0rem 0.02rem 0rem;
    color: #fff;
}
.text_cajas{
    font-size:  0.13rem;
    color: #BABABA;
}
.img_cajas{
    width: 0.18rem;
}

/*------------section_3----------*/
.section_4{
    width: 3.2rem;
    height: 3.8rem;
    background-image: url(../img/bitcoinbaby%201.png);
    background-size: cover;
    padding-top: 0.2rem;
    box-sizing: border-box;
}
.text_section_4{
    text-align: center;
    font-size: 0.24rem;
    color: white;
}
